<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edição</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Edição de Produto</h1>
<form action="#" th:action="@{/salvar/editar}" method="post" th:object="${produto}">
    <input type="hidden" th:field="*{id}" readonly/> <br/>

    <div class="form-group">
        <label for="nomeProduto">Nome do Produto</label>
        <input id="nomeProduto" type="text" th:field="*{nomeProduto}" name="nomeProduto"/> <br/>
        <p th:if="${#fields.hasErrors('nomeProduto')}" th:errors="*{nomeProduto}"></p>
    </div>

    <div class="form-group">
        <label for="categoria">Categoria</label>
        <input id="categoria" type="text" th:field="*{categoria}" name="categoria"/> <br/>
        <p th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></p>
    </div>

    <div class="form-group">
        <label for="preco">Preço</label>
        <input id="preco" type="number" placeholder="1.0" step="0.01" min="0" th:field="*{preco}" name="preco"/> <br/>
        <p th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></p>
    </div>

    <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input id="quantidade" type="number" th:field="*{quantidade}" name="quantidade"/> <br/>
        <p th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></p>
    </div>

    <button id="save" class="btn btn-primary" type="submit">Salvar</button>

</form>
</body>
</html>